* {
   
}

body {
    margin: 40px auto;
    font-family: monospace;
    display: flex;
    max-width: 1080px;
    background-color: cornsilk;
    font-family: monospace ;
    font-style: bold;
    font-size :20px;
}
h1 {
    text-align: left
}

nav {
    height: 50px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    float: center;
}

li {
    list-style-type: none;
    margin: 0;
    float: left;
    width: 300px;
    text-align: center;
}

#me {
    border-radius: 22px 22px 22px 0px;
    float: left;
    width: 200px;
    margin-right: 80px;
}

section {
    width: 800;
    margin: 10px;
    padding: 10px;
}

p {
    padding: 80px, 0, 10px, 0;
    margin: 35px
}

#project-1 {
    border: 5px solid #181d17;
    border-radius: 25px 25px 0px 25px;
    margin: 20px;
    padding: 0px;
    text-underline-offset: 10px;
    width: 900px;

}

@media (min-width: 1024px) {
    body {
        font-size: 1.25rem;
    }
}

}
@media (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 1.25rem;
    }
}

@media (min-width: 767px) {
    body {
        font-size: 1.25rem;
    }
}
